<div id="map">
  
</div>

<script type="text/javascript">
//Init the right bottom box for bar charts, this is put here because
//js files in assets don't support 'render'
function initBarChartBox() {
  <%# Add the bar chart to the bottom right %>
  if(! document.getElementById("bar-chart-container")) {
    var barChart = document.createElement('div');
    barChart.id = 'bar-chart-container';
    barChart.style.width = "330px";

    barChart.innerHTML = '<%= escape_javascript(render("schools/bar_chart")) -%>';
    var bottomRight = $map.controls[google.maps.ControlPosition.RIGHT_BOTTOM];
    bottomRight.push(barChart);
    
  }
}

function changeToEditState() {
  $('#add-school >:first-child > a').addClass('pressed');
  $currentStateProcessor = new AddSchoolStateEventProcessor();
  $addSchoolMarker.setMap($map);
}

function changeToNormalState() {
  $('#add-school >:first-child > a').removeClass('pressed');
  $currentStateProcessor = new NormalStateEventProcessor();
  $addSchoolMarker.setMap(null);
}

function getPointStringFromLatLng(latLng) {
  var lat = latLng.lat();
  var lng = latLng.lng();
  return "POINT (" + lng.toString() + " " + lat.toString() + ")";
}

function initEventListenersForData(data) {
  eventProcessor = $CONFIG['eventProcessor'];

  data.addListener('mouseover', eventProcessor.mouseover);
  data.addListener('mouseout', eventProcessor.mouseout);
  data.addListener('mousemove', eventProcessor.mousemove);
  data.addListener('click', eventProcessor.click);
}

$(document).ready(function(){
  initBarChartBox();

  // Add School button
  $('#add-school >:first-child > a').click(function(e) {
    if($currentStateProcessor instanceof NormalStateEventProcessor) {
      changeToEditState();
    }else {
      changeToNormalState();
    }
  });

  $addSchoolMarker = new google.maps.Marker({
                          icon: '<%= image_path("markers/marker.png") -%>'
                        });

  if(gabonPolygon === undefined) {  
    //This is area of the whole world
    var wholeWorld = [
      new google.maps.LatLng(-180, -90),
      new google.maps.LatLng(-180, 90),
      new google.maps.LatLng(180, 90),
      new google.maps.LatLng(180, -90)
    ];

    var gabonArea = [wholeWorld];

    <% @country.geom.each do |polygon| %>
      gabonArea.push(<%= polygon_to_gmap_points_array polygon -%>);
    <% end %>

    gabonPolygon = new google.maps.Polygon({
      paths: gabonArea,
      strokeColor: "#000000",
      strokeOpacity: 0.8,
      strokeWeight: 2,
      fillColor: "#ffffff",
      fillOpacity: 1
    });
  }

  //Load GeoJSON of provinces
  if(provincesData === undefined) {
    provincesData = new google.maps.Data();
    $currentData = provincesData;
    provincesData.loadGeoJson("<%= provinces_path format: :json %>");

    provincesData.setStyle(function(feature) {
      return { fillColor: 'green',
              strokeWeight: 1};
    });
    
    
    $currentData = provincesData;
    $currentAreaType = 'country';

    initEventListenersForData($currentData);    

    
  }

  var _elementToFind = "bar-chart";
  var _elementFound = false;
  var _counter = 1;
  $(document).bind("DOMSubtreeModified", function(evt) {
      if (_elementFound)
          return;
      if ($("#" + _elementToFind).length > 0) {
          $.getScript("<%= root_path format: :js -%>");
          _elementFound = true;
      }
  });
});



</script>