<!DOCTYPE html>
<html>
<head>
  <title>Schoolmap</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDB06c3JC9Puup5N4gk3cK1j9sQ0kO615U&sensor=false"></script>
  <%= csrf_meta_tags %>
</head>
<body>

  <header id="header">
    <div class="logo-group">
      <span id="logo"><%= image_tag 'logo.png' -%></span>
    </div>
    <div id="hide-menu" class="btn-header vcenter">
      <span> <a href="javascript:void(0);" title="Collapse Menu"><i class="fa fa-reorder fa-2x"></i></a> </span>
    </div>

    <div class="pull-right">
      <div id='add-school' class="btn-header vcenter">
        <span><a href="javascript:void(0);" title="Add School"><i class="fa fa-plus-circle fa-2x"></i></a> </span>
      </div>
    </div>
  </header>

  <aside id="left-panel">
    <%= render 'layouts/left_menu' -%>
  </aside>

  <div id="main" role="main">
    <div id="ribbon">
      <%= render 'shared/breadcrumb' -%>
    </div>
    <%= yield %>
  </div>

  <%= render 'shared/add_school' -%>
</body>
</html>
